In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv('Data/logarithm_train.csv', sep=';')
newdata = pd.read_csv('Data/logarithm_test.csv', sep=';')

In [2]:
data

     var
0 -1.000
1 -0.234
2 -0.470
3 -0.130
4 -0.150

In [3]:
newdata

     var
0 -10.00
1  -7.00
2  -0.40
3  -0.50
4  -0.25

In [4]:
a = 1.05
data['simple_logarithmic_var'] = np.log(data['var'] + a)
data

     var  simple_logarithmic_var
0 -1.000               -2.995732
1 -0.234               -0.203341
2 -0.470               -0.544727
3 -0.130               -0.083382
4 -0.150               -0.105361

In [5]:
newdata['simple_logarithmic_var'] = np.log(newdata['var'] + a)
newdata

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in log
  """Entry point for launching an IPython kernel.

     var  simple_logarithmic_var
0 -10.00                     NaN
1  -7.00                     NaN
2  -0.40               -0.430783
3  -0.50               -0.597837
4  -0.25               -0.223144

In [6]:
newdata['clipped_var'] = newdata['var'].clip(-1)
newdata

     var  simple_logarithmic_var  clipped_var
0 -10.00                     NaN        -1.00
1  -7.00                     NaN        -1.00
2  -0.40               -0.430783        -0.40
3  -0.50               -0.597837        -0.50
4  -0.25               -0.223144        -0.25

In [7]:
newdata['logarithmic_clipped_var'] = np.log(newdata['var'].clip(-1) + a)
newdata

     var  simple_logarithmic_var  clipped_var  logarithmic_clipped_var
0 -10.00                     NaN        -1.00                -2.995732
1  -7.00                     NaN        -1.00                -2.995732
2  -0.40               -0.430783        -0.40                -0.430783
3  -0.50               -0.597837        -0.50                -0.597837
4  -0.25               -0.223144        -0.25                -0.223144