In [1]:
# импортируем библиотеки
import numpy as np
import pandas as pd
from scipy import stats
# загружаем и смотрим данные
data = pd.read_csv('Data/glucose.csv', sep=';')
data

   before  after
0     9.6    5.7
1     8.1    4.2
2     8.8    6.4
3     7.9    5.5
4     9.2    5.3
5     8.0    4.2
6     8.4    5.1
7    10.1    5.9
8     7.8    7.5
9     8.1    5.0

In [2]:
# проверяем данные на нормальность
print('Скос признака before:', data['before'].skew())
print('Эксцесс признака before:', data['before'].kurtosis())
print('')
print('Скос признака after:', data['after'].skew())
print('Эксцесс признака after:', data['after'].kurtosis())

Скос признака before: 0.9058504758902429
Эксцесс признака before: -0.4489742150083589

Скос признака after: 0.6767808127701386
Эксцесс признака after: 0.8331238763353594

In [3]:
# еще дополнительная проверка на нормальность
data[['before', 'after']].describe()

          before      after
count  10.000000  10.000000
mean    8.600000   5.480000
std     0.794425   0.990847
min     7.800000   4.200000
25%     8.025000   5.025000
50%     8.250000   5.400000
75%     9.100000   5.850000
max    10.100000   7.500000

In [4]:
# вычисляем разность каждой пары значений
diff = data['before'] - data['after']

In [5]:
# вычисляем среднее разностей
mean_diff = sum(diff) / len(data)
mean_diff

3.12

In [6]:
# вычисляем стандартное отклонение разностей от среднего
std_diff = np.sqrt((sum((mean_diff - diff) ** 2)) / (len(data) - 1))
std_diff

1.1773793875477105

In [7]:
# еще можно так
# std_diff = diff.std()

In [8]:
# вычисляем t-критерий Стьюдента для зависимых выборок
t = mean_diff / (std_diff / np.sqrt(len(data)))
t

8.379887064504546

In [9]:
# можно воспользоваться функцией ttest_rel()
# библиотеки SciPy
stats.ttest_rel(data['before'], data['after'])

Ttest_relResult(statistic=8.379887064504544, pvalue=1.5250840961461116e-05)