# II. Знакомство с Python

## II.6. pandas

In [1]:
import pandas as pd 
data = pd.read_csv('Data/StateFarm.csv', sep=';')
data.head()

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Response
0,18975.456110,65999,237,1,14,0,6,0
1,4715.321344,0,65,19,56,0,3,0
2,5018.885233,54500,63,28,17,0,6,0
3,4932.916345,37260,62,19,42,0,8,0
4,5744.229745,68987,71,11,40,0,6,0